@font-face {
    font-family: 'StonSansSemiBold';
    src: url('/fonts/ITC_Stone_Sans_Semibold.ttf');
}

:root {
    --ImperialBlue:#003E74;
    --Navy:#002147
}

a {
    color: var(--ImperialBlue);
    text-decoration: none
}

a:hover{
    color: var(--Navy)
}

footer{
    text-align: center;
    position: fixed;
    bottom: 3%;
    width: 100%
}

img {
    opacity: 20%
}

img:hover{
    opacity: 40%
}